/******************************************************
Teamplate: Demo WebBox
Author: Thanh Nguyen
Create_at: 04/05/2019 11:45
*******************************************************/
/*-----------------------------------------------------	
	00. Style General 
	01. Home Movie
	02. Home Pay
	03. Home Favorite
	04. Categories
	05. Categories More
	06.	Details Movie
	07.	Details Series Movie
	08. Search Movie
------------------------------------------------------*/

/*----------------------------------------------------
				00. Style General
-----------------------------------------------------*/
@font-face {
	font-family: 'RobotoCondensed-Regular';
	src: url('../fonts/RobotoCondensed-Regular.eot');
	src: local('☺'), url('../fonts/RobotoCondensed-Regular.woff') format('woff'), url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'), url('../fonts/RobotoCondensed-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoCondensed-Light';
	src: url('../fonts/RobotoCondensed-Light.eot');
	src: local('☺'), url('../fonts/RobotoCondensed-Light.woff') format('woff'), url('../fonts/RobotoCondensed-Light.ttf') format('truetype'), url('../fonts/RobotoCondensed-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	color: #333;
	font-size: 18px;
	font-family: 'RobotoCondensed-Light';
}
img{
	max-width: 100%;
	height: auto;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0 auto;
}
a{
	color: #fff;
}
a:hover, a:focus{
	color: #ff0;
	text-decoration: none;
}
p{
	margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'RobotoCondensed-Regular';
	line-height: normal;
}
.content-section{
	background-color: #252c34;
	height: 100vh;
	padding: 3rem;
	width: 100vw;
}
.list-layout{
	height: 768px;
    overflow: hidden;
    overflow-y: auto;
    transition: all .4s ease;
}
.list-layout ul li a{
	display: block;
	padding: .5rem 0;
}
/*----------------------------------------------------
				00. Style General
-----------------------------------------------------*/

/*----------------------------------------------------
				01. Home Movie
-----------------------------------------------------*/

/*----------------------------------------------------
				02. Home Pay
-----------------------------------------------------*/

/*----------------------------------------------------
				03. Home Favorite
-----------------------------------------------------*/

/*----------------------------------------------------
				04. Categories
-----------------------------------------------------*/

/*----------------------------------------------------
				05. Categories More
-----------------------------------------------------*/

/*----------------------------------------------------
				06.	Details Movie
-----------------------------------------------------*/

/*----------------------------------------------------
				07.	Details Series Movie
-----------------------------------------------------*/

/*----------------------------------------------------
				08. Search Movie
-----------------------------------------------------*/
