.stt-movie-view-info {
  padding-top: 110px;
  padding-bottom: 2rem;
}

.stt-movie-view-meta-group {
  display: flex;
  font-size: 1rem;
  color: #acaeaf;
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.stt-movie-view-meta-group > div {
  position: relative;
  padding: 0 16px;
}

.stt-movie-view-meta-group > div:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: block;
  height: 15px;
  width: 1px;
  background: #9d9fa2;
}

.stt-section-contain {
  margin: 0 -66px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.stt-section-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 4;
}

.stt-section-overlay.is-top {
  background-image: url('../../images/vod-home/mask-header.png');
  background-position: 0 0;
}

.stt-section-overlay.is-bottom {
  background-image: url('../../images/vod-home/mask-header.png');
  background-position: 0 0;
  transform: rotate(180deg);
}

.stt-section-contain-slide {
  padding-left: 65px;
  padding-right: 65px;
}

.stt-movie-container {
  width: 100%;
  height: auto;
  padding: 65px;
  padding-top: 0;
}
.stt-section.has-pd .stt-movie-container {
  padding-top: 65px;
}

.stt-movie-more {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: #252c34;
  overflow: hidden;
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition: all .2s;
}
.stt-movie-more.is-hide {
  opacity: 0;
  visibility: hidden;
}

.stt-movie-more .stt-movie-row {
  padding: 0 65px;
  padding-top: 125px;
}

.stt-movie-more .stt-movie-row-list {
  flex-wrap: wrap;
  width: auto!important;
}

.stt-movie-more .stt-movie-row-item {
  margin-bottom: 30px;
}

.stt-movie-more-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  color: #eee;
  font-size: 1.65rem;
  padding: 0 65px;
  padding-top: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 6;
}

.stt-movie-more-header > span:not(.fake) {
  margin-right: 1rem;
}

/* ---Header--- */
.stt-section-header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 35px 0;
  min-height: 112px;
  font-size: 1.25rem;
  color: #e0e0e0;
  margin: 0 -20px;
}

.stt-section-header > .menu-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 0 20px;
}

.stt-section-header > .fake-indicator {
  position: absolute;
  width: 117px;
  height: 42px;
  top: 35px;
  left: 0;
  display: none;
}

.stt-section-header > .fake-indicator::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.stt-section-header > .menu-item.active {
  color: #00b251;
}