/*Image ratio */
.stt-img-holder-ratio {
  display: block;
  position: relative;
}

.stt-img-holder-ratio>img:not(.stt-img-parental) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.stt-img-holder-ratio::after {
  content: "";
  display: block;
}

.stt-img-holder-ratio.ratio-16-9::after {
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
}

.stt-img-holder-ratio.ratio-4-3::after {
  padding-top: 75%;
  /* 4:3 Aspect Ratio */
}

.stt-img-holder-ratio.ratio-3-2::after {
  padding-top: 66.66%;
  /* 3:2 Aspect Ratio */
}

.stt-img-holder-ratio.ratio-8-5::after {
  padding-top: 62.5%;
  /* 8:5 Aspect Ratio */
}