mixin movieShow
  .stt-movie-view-info
    h3.stt-movie-view-title
    div.stt-movie-view-meta-group
      .movie-year
      .movie-duration
      .movie-type
      .movie-ban
    div.stt-movie-view-btn-group.stt-btn-group
      .stt-btn.btn-1.has-icon
        img.icon(src= 'images/vod-home/icon/icon-play-normal.png')
        span Xem phim
      .stt-btn.btn-2.has-icon
        img.icon(src= 'images/vod-home/icon/icon-info-normal.png')
        span Xem thêm